<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recettes</title>
</head>
<body>
<a href="{{ path('recipe_index') }}">Retour</a>

<h1>{{ recipe.title }}</h1>
<h3> {{ recipe.kind }}</h3>

<h3>Ingrédients</h3>
<ul>
    {% for item in recipe.ingredients %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>

</body>
</html>